body {
    margin: 0px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 2;
}

h1 {
    color: #edf5e1;
    margin: 50px auto 0 auto;
    font-family: 'Montez', cursive;
    font-size: 7rem;
}

.intro {
    width: 30%;
    margin: auto;
}

hr {
   border: dotted #5cdb95 6px;
   border-bottom: none;
   width: 8%;
}

.top-text {
    font-size: 2.5rem;
    color: #edf5e1;
    font-weight: normal;
    padding-bottom: 10px;
}

p {
    color: #05386b;
}

a {
    color: #05386b;
    text-decoration: none;
    transition: color 0.2s linear;
}

a:hover {
    color: #5cdb95;
}

.top-container {
    background-color: #5cdb95;
    position: relative;
    padding-top: 100px;
}

.top-text {
    color: #edf5e1;
}

.pro {
    text-decoration: underline;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 40px;
}

.bottom-cloud {
    position: absolute;
    left: 200px;
    bottom: 300px;
}

.middle-container {
    color: #05386b;
    margin: 100px 0;

}

.icons-author {
    color: #05386b;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto ;
    text-align: left;
}

.camping {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.music-img {
    width: 25%;
    float: right;
    margin-left: 30px;
}

.contact-message {
    width: 40%;
    margin: 40px auto 60px;
}

.bottom-container {
    background-color: #5cdb95;
    padding: 40px 0 20px;
}

.footer-link {
    margin: 10px 20px;
}

.footer-link:hover {
    color: #edf5e1;
}

.copyright {
    font-size: 0.75rem;
}