body {
    background-color:#343434;
    color: #FCFAF1;

}

h1, h2, h3 {
    color: #e6b31e;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: #e6b31e;
    border-width: 5px;
    width: 5%;
}